<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25855751?query=java%20Odessa">Senior Java Developer/ElectricAccelerator</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25857546?query=java%20Odessa">Senior Java/Spring Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Nitka Technologies</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25782857?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25853619?query=java%20Odessa">Full-stack developer (Java, Angular)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25625231?query=java%20Odessa">Senior Java Developer / SaaS</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/26001703?query=java%20Odessa">Senior Back-end Java Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Slidepresenter GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25782859?query=java%20Odessa">Senior Java Engineer</a></td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25701235?query=java%20Odessa">Java junior Specialist</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Lagoteam</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25855879?query=java%20Odessa">Middle QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary">1&nbsp;500-2&nbsp;300 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25855706?query=java%20Odessa">Full stack Web Developer / Javascript, PHP</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/26007578?query=java%20Odessa">Cloud DevOps Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/26007520?query=java%20Odessa">Senior Cloud DevOps</a></td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25852692?query=java%20Odessa">Regular Automation Test engineer (Python)</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25853487?query=java%20Odessa">Configuration Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25853767?query=java%20Odessa">Regular/Senior Angular developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/26027709?query=java%20Odessa">Junior QA Automation engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/26028368?query=java%20Odessa">Middle Machine Learning Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Gallantra Business Intelligence</td> 
     <td class="salary">1&nbsp;500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25450596?query=java%20Odessa">QA Automation Engineer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/26030919?query=java%20Odessa">AI / Machine Learning Developer</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Livegenic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://hh.ua/vacancy/25994848?query=java%20Odessa">Data Science specialist</a></td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО E-book Applications</td> 
     <td class="salary">2&nbsp;000-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>